.Tag {
  height: 24px;
  background-color: var(--background-light);
  border-radius: 12px;
  padding: 0 16px;
  color: var(--text-lighter);
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
}
