.Pagination {
  display: flex;

  &__item {
    background-color: var(--background-dark);
    width: 32px;
    height: 32px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;

    &_active {
      background-color: var(--background-lighter);
      color: var(--text-dark);
    }
  }

  &__arrow {
    opacity: 0.3;

    &_next {
      transform: rotateY(180deg);
    }

    &_active {
      opacity: 1;
    }
  }
}
