.DetailedEpisode {
  height: calc(100% - 120px);
  background-color: var(--background-darker);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

  &__content {
    display: flex;
    width: 80%;
    background-color: var(--background-dark);
    padding: 45px;
    height: 69%;
    border-radius: 12px;
  }

  &__title {
    font-size: 58px;
    margin: 0 0 40px;
    color: var(--text-lighter);
  }

  &__links {
    display: flex;
    margin: 0 0 0 calc(10% - 45px);
    font-weight: 700;
    font-size: 16px;
    height: 10%;
    align-items: center;
  }

  &__link {
    color: #3f8bfd;
    text-decoration: none;
    &--active {
      color: var(--text-light);
    }
  }

  &__separator {
    margin: 0 8px;
    color: var(--text-light);
  }

  &__number {
    margin-right: calc(14% - 110px);
    width: 330px;
    height: 330px;
    border-radius: 12px;
    background-color: var(--image-container);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-lighter);

    :first-child {
      font-size: 52px;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    margin: 20px 0 17px 0;
  }

  &__info {
    float: left;
    margin-right: 20%;
  }

  &__characters {
    float: left;
  }

  &__description {
    width: 100%;
  }
}
