.Header {
  height: 120px;
  display: flex;
  //justify-content: center;
  align-items: center;

  &__logoContainer {
    margin: 0 12% 0 calc(10% - 45px);
  }

  &__logo {
    width: 190px;
    height: 56px;
  }

  &__quote {
    font-size: 20px;
    color: var(--text-dark);
  }
}
