.TextSection {
  &__label {
    font-weight: bold;
    font-size: 13px;
    color: var(--text-light);
    margin: 0;
  }

  &__value {
    font-size: 15px;
    color: var(--text-lighter);
    margin: 3px 0 16px 0;
  }

  &--dark {
    :first-child {
      color: var(--text-light);
    }

    :last-child {
      color: var(--text-dark);
    }
  }
}
