.PaginationItem {
  background-color: var(--background-dark);
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-lighter);;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  &--previous {
    margin-right: 24px;
    &::after {
      display: block;
      height: 12px;
      width: 7.4px;
      content: "";
      background: url("../../assets/icons/left-arrow.svg");
    }
  }

  &--next {
    margin-left: 16px;

    &::after {
      display: block;
      height: 12px;
      width: 7.4px;
      content: "";
      background: url("../../assets/icons/right-arrow.svg");
    }
  }
}
